/* override tethys core styles */
#app-header .tethys-app-header {
    height: 60px;
}

#app-header .tethys-app-header .toggle-nav {
    margin-top: 10px;
}

#app-header .tethys-app-header .icon-wrapper img {
    height: 50px;
}

#app-header .tethys-app-header .icon-wrapper {
    margin-left: 15px;
    padding: 5px 10px;
}

#app-header .tethys-app-header .app-title-wrapper .app-title {
    padding: 0;
    padding-left: 65px;
}

#app-header .tethys-app-header .exit-button {
    margin-top: 10px;
}

#app-header .tethys-app-header .exit-button a {
    padding: 5px 10px;
}

#app-content-wrapper #app-content #app-actions{
    height: 50px;
    padding-top: 5px;
}

#app-content-wrapper #app-content #app-navigation {
    padding-top: 60px;
}

/* app styles */

#app-content-wrapper #app-content{
    height: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
}

#inner-app-content{
    padding: 0;
}

.description, #disclaimer {
    padding: .75em;
}

.description p {
    font-size: 18px;
    color: #000000;
}

#map {
    height: 100%;
    width: 100%;
}

#feature-info-content {
    overflow-y: auto;
    overflow-x: hidden;
}

#feature-info-content img {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Popup container */
#popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
#popup #popup-content {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
#popup #popup-content::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
#popup #popup-content.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}