{% extends "church_event_history/base.html" %}
{% load staticfiles %}

{% block app_navigation_items %}
  <li class="active"><a href="{% url 'church_event_history:home' %}">Home</a></li>
  <li><a href="{% url 'church_event_history:map' %}">Map</a></li>
  <li><a href="{% url 'church_event_history:help' %}">Help Files</a></li>
{% endblock %}

{% block app_content %}
  <div id="home-img">
      <img src="{% static 'church_event_history/images/home_pano.png' %}" style="width: 100%;">
  </div>
  <div class="description">
      <p>This website was built for the purpose of creating an interactive map to show the locations of scriptural and historical events of The Church of Jesus Christ of Latter-day Saints.  This interactive map follows the life of Joseph Smith beginning with his birth and ending with his death and burial.  This website used to view the map was designed in HTML and Javascript using the OpenLayers framework.</p>
  </div>
  <div id="disclaimer">
      <p><i>The content of this application is created for academic purposes and does not necessarily represent the views of the Church of Jesus Christ of Latter-Day Saints.</i></p>
  </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href="{% static 'church_event_history/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}